#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.grid {
  padding: 80px;
  border-color: rgb(173, 170, 170);
}

.card {
  padding: 2em;
  border: 1px solid #888;
  margin: 30px;
}

.read-the-docs {
  color: #888;
}

.h1 {
  color: rgb(179, 153, 153);
}

.button {
  color: rgb(212, 150, 150);
}

.more {
  padding: 80px;
  border: 1px;
  margin: 20px;
  border-color: #888;
}